/* Editing for Video Background */

.section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#videobg {
    position: fixed;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.color-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ca1e1e;
    opacity: 0.3;
}

@media (min-aspect-ratio: 16/9) {
    #videobg {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videobg {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .video-container {
        display: none;
    }

    body {
        background: url('images/plsdonate.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

#saveme {
    margin-top: 60vh;
    z-index: 1;
}